*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #E0D6B3;
    color: #fff;
    font-family: 'Open-sans', sans-serif;
}

.primary-text{
    color: #589EF4
}

header, section, footer{
    width: 100%;
}


.container{
    display: flex;
    margin: 0px 10%;
}


/* HEADER */
#header{
    background-color: #1B1B1B;
    color: #fff;
    border-bottom: 5px solid #589EF4;
}
#header .container{
    justify-content: space-between;
    /* border: 1px solid green; */
    align-items: center;
    padding: 20px 0px;
    font-size: 25px;
}

#header .logo{
    font-size: 35px;
}

#header li{
    display: inline;
    padding-left: 20px;
}

#header a{
    text-decoration: none;
    color: #fff;
}

#header .navbar a:hover{
    color: #589EF4;
    border-bottom: 3px solid #589EF4;
    padding-bottom: 6px;
}

#header .active{
    color: #589EF4;
    border-bottom: 3px solid #589EF4;
    padding-bottom: 6px; 
}

/* Profile */
#profile{
    margin-top: 20px; 
}

#profile .container{
    justify-content: space-between;
    align-items: center;
}

#profile .content{
    margin: auto;
}

#profile img{
    width: 300px;
    border-radius: 50%;
    margin: auto;
    padding: 8px;
    border: 1px solid #589EF4;
}

#profile .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile{
    font-size: 40px;
    
}

#profile h2{
    font-size: 25px;
}

#profile p{
    font-size: 18px;
    margin-top: 10px;
}

#profile .line{
    background-color: #589EF4;
    width: 95%;
    margin: 0 auto;
    padding: 1px;
}

#profile .content .author{
    align-self: flex-end;
    padding-right: 15px;
    font-size: 18px;
}

/* PORTFOLIO */
#portfolio{
    background-color: #1B1B1B;
    margin-top: 20px;   
    padding: 10px 0px;  
}
#portfolio .row{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

#portfolio h1{
    margin: 10px;
    border-left: 6px solid #589EF4;
    padding-left: 6px;
}

#portfolio .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: #589EF4;
}

#portfolio img{
    width: 100%;
}

#portfolio .card h2, #portfolio p{
    align-self: flex-start;
}

#portfolio .button{
    display: flex;
    justify-content: center;
}

#portfolio .button a{
    text-decoration: none;
    color: #589EF4;
    font-size: 25px;
    border: 2px solid #589EF4;
    padding: 15px;
    /* border-radius: 55px; */
    margin: 10px 0;
}

/* My Skills */
#my-skills{
    margin-top: 10px;   
    padding: 10px 0px;  
}

#my-skills .row{
    margin: 0px 10%;
    display: flex;
}

#my-skills h1{
    margin-left: auto;
    border-right: 6px solid #589EF4;
    padding-right: 6px;
    margin: 10px 12px 10px auto;
}

#my-skills .skills{
    justify-content: space-around;
    padding:  10px 0px
}

#my-skills .skills > div{
    display: flex;
    flex-direction: column;
}

#my-skills img{
    width: 200px;
}

#my-skills .node{
    margin: 40px 0px 40px 0px;
}

#my-skills h2{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}



/* footer  */
footer{
    margin-top: 10px;
    background-color: #1B1B1B;
    padding: 10px 0px;
}
footer .container{
    justify-content: center;
    flex-direction: column;
}

footer .sitemap{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

footer .sitemap li{
    display: inline;
    padding-left: 20px;
}

footer .sitemap a{
    text-decoration: none;
    color: #fff;
}

footer .sitemap a:hover{
    color: #589EF4;
    border-bottom: 3px solid #589EF4;
    padding-bottom: 6px;
}

footer .sitemap .active{
    color: #589EF4;
    border-bottom: 3px solid #589EF4;
    padding-bottom: 6px; 
}

footer .copyright{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
