*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primary-text{
    color: #589EF4
}

header, section, footer{
    width: 100%;
    margin-top: 20px;
}
.container{
    display: flex;
    margin: 0px 10%;
}
section{
    border: 1px solid green;
}

/* HEADER */
#header .container{
    justify-content: space-between;
    border: 1px solid green;
    align-items: center;
    padding: 20px 0px;
    font-size: 25px;
}

#header li{
    display: inline;
    padding-left: 20px;
}



/* Skills */
#skills{
    display: flex;
    justify-content: space-between;
    margin: 0px 10%;
}

#skills div{
    width: 320px;
    height: 200px;
    border: 1px solid green;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* PORTFOLIO */
#portfolio .row{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

#portfolio h1{
    margin: 10px;
    border-left: 6px solid #589EF4;
    padding-left: 6px;
}

#portfolio .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    margin: 10px;
}

#portfolio img{
    width: 100%;
}

#portfolio .card h2, #portfolio p{
    align-self: flex-start;
}

#portfolio .button{
    display: flex;
    justify-content: center;
}

#portfolio .button a{
    text-decoration: none;
    color: #171818;
    font-size: 25px;
    border: 2px solid #171818;
    padding: 15px;
    border-radius: 55px;
    margin: 10px 0;
}

/* CONTACT ME */
#contact-me .title{
    justify-content: flex-start;
}

#contact-me .contact{
    justify-content: space-around;
}

.contact .form{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.name-email{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}

.name, .email, .message{
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
}


/* footer  */
footer{
    border: 1px solid orange;
    height: 200px; 
}
